@import url("./theme_colors.scss");

.bg-primary-gr  {
  color: var(--white-);
  transition: 0.5s;
  background: #aeacf2;
  background: linear-gradient(62deg, rgba(174, 172, 242, 0.55) 0%, rgba(125, 123, 229, 1) 30%);
}
.bg-secondary-gr {
  color: var(--white-);
  transition: 0.5s;
  background: #114477;
  background: linear-gradient(62deg, rgba(17, 68, 119, 0.55) 0%, rgba(17, 68, 119, 1) 30%);
}
.bg-success-gr {
  color: var(--dark-);
  transition: 0.5s;
  background: #078F2B;
  background: linear-gradient(62deg, rgba(7, 143, 43, 0.55) 0%, rgba(7, 143, 43, 1) 30%);
}

.bg-primary {
  background: var(--primary-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-secondary {
  background: var(--secondary-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-success {
  background: var(--success-);
  color: var(--dark-);
  transition: 0.5s;
}

.bg-info {
  background: var(--info-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-warning {
  background: var(--warning-);
  color: var(--dark-);
  transition: 0.5s;
}

.bg-danger {
  background: var(--danger-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-red {
  background: var(--red-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-gray {
  background: var(--gray-);
  color: var(--dark-);
  transition: 0.5s;
}

.bg-dark {
  background: var(--dark-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-white {
  background: var(--white-);
  color: var(--dark-);
  transition: 0.5s;
}

.bg-none {
  background: none;
}

// ** Application theme class ** //
.bg-app-dark {
  background: var(--dark-bg-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-app-light {
  background: var(--light-bg-);
  color: var(--dark-);
  transition: 0.5s;
}

// ** Application theme class ** //

// ** Application base card theme class ** //
.base-card-dark {
  background: var(--base-card-dark-bg-);
  color: var(--white-);
  transition: 0.5s;
}

.base-card-light {
  background: var(--base-card-light-bg-);
  color: var(--dark-);
  transition: 0.5s;
}

// ** Application base card theme class ** //
