:root {
  // primary colors
  --primary1-: #59AC77;
  --primary2-: #FDAAAA;
  --primary3-: #FFD5D5;
  --primary4-: #3A6F43;

  // secondary colors
  --secondary1-: #00A9FF;
  --secondary2-: #89CFF3;
  --secondary3-: #A0E9FF;
  --secondary4-: #CDF5FD;

  // warning colors
  --warning1-: #EBF400;
  --warning2-: #FFF78A;

  // gray colors
  --gray1-: #B3C8CF;
  --gray2-: #E5E1DA;
  --gray3-: #F1F0E8;

  // danger colors
  --danger1-: #8A0000;
  --danger2-: #E4004B;
  --danger3-: #E62727;

  // dark colors
  --dark1-: #19183B;
  --dark2-: #1C352D;
  --dark3-: #030303;

  --white-: #fff;

  --dark-bg-: #1A2130;
  --light-bg-: #FAF6F0;

  --chat-dark-: #25252525;
  --chat-light-: #e9e5e5;

  --base-card-dark-bg-: #1c263b;
  --base-card-light-bg-: #f8f8f8;

  --base-drop-menu-dark-bg-: #131720;
  --base-drop-menu-light-bg-: #fff;

  --sidebar-header-bg-: #213448;
}
