:root {
  --primary-: #7d7be5;
  --secondary-: #114477;
  --success-: #078f2b;
  --info-: #bfecff;
  --warning-: #FFE100;
  --danger-: #B12C00;
  --red-: #E62727;
  --gray-: #9e9393;
  --dark-: #303030;
  --white-: #fff;

  --dark-bg-: #252525;
  --light-bg-: #f5eeee;

  --chat-dark-: #25252525;
  --chat-light-: #e9e5e5;

  --base-card-dark-bg-: #303030;
  --base-card-light-bg-: #e9e2e2;
}
